<section data-ng-controller="TriviaController" data-ng-init="find()">
    <div class="page-header">
        <h1>Trivia</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="trivium in trivia" data-ng-href="#!/trivia/{{trivium._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="trivium.created | date:'medium'"></span>
				by
				<span data-ng-bind="trivium.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="trivium.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!trivia.$resolved || trivia.length">
    	No Trivia yet, why don't you <a href="/#!/trivia/create">create one</a>?
    </div>
</section>